<!DOCTYPE html>
<html ng-app="%APP_NAME%">
  <head>
    <script>
      // Dynamic creation of base tag, to make html5mode work locally
      // This script will remove itself upon execution
      (function () {
        document.write('<base href="' + document.location.origin + '/" />');
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.removeChild(node);
      }());
    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/stylesheets/application.css"/>
    <title>%APP_NAME%</title>
  </head>
  <body>

    <layout></layout>

    <script type="text/javascript" src="/jspm_packages/traceur-runtime.js"></script>
    <script type="text/javascript" src="/jspm_packages/system.js"></script>
    <script type="text/javascript" src="/config.js"></script>

    <script>
      System.import('app');
    </script>
  </body>
</html>
